body {
    background-image: url(https://i.pinimg.com/originals/a8/f4/ef/a8f4ef534ce596cec6beafb6a9fa01e1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.openModal {
    position: absolute;
    margin: 350px 615px;
    width: 200px;
    padding: 15px;
    background-color: rgb(84, 167, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border: 2px solid rgb(166, 207, 245);
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.openModal:hover {
    background-color: orange;
    border: 2px solid rgb(252, 208, 126);
    font-weight: bold;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
  }

  #modal-textbox {
    color: whitesmoke;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(84, 167, 245, 0.9);
    border: 4px solid rgb(166, 207, 245);
    height: 350px;
    width: 550px;
    border-radius: 10%;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .modalButtons {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border: 2px solid rgb(166, 207, 245);
    color: black;
    cursor: pointer;
    font-weight: bold;
  }

  .modalButtons:hover {
    background-color: orange;
    border: 2px solid rgb(252, 208, 126);
    font-weight: bold;
  }

  #beginGame {
    position: absolute;
    margin-left: 460px;
    bottom: 150px;
  }

  #main-game-container {
    visibility: hidden;
  }

  #level {
    align-items: flex-start;

  }

  ol {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 1200px;
    background-color: n;
    color: orange;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;

  }

  li {
    flex: 0 0 auto;
    counter-increment: item;
    margin-bottom: 5px;
  }

  li:before {
    margin-right: 10px;
    content: counter(item);
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }

  

